.git
.github
.agents
.gemini
node_modules
vendor
public/build
public/hot
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose*.yml
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
